*{
    color: #fff;
}

.example-header-image {
    background-image: url('https://2.bp.blogspot.com/-hdaftqVwPe0/VLffgk0CAfI/AAAAAAAABss/fvIb7mhWAFI/s1600/Shen_OriginalSkin.jpg');
    background-size: cover;
}

mat-card{
    border-radius: 0%;
    background: #303030;
}

mat-card-content p {
    padding-left: 7vh;
}

.contenedor{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card-width{
    width: 100% !important;
}

.image-dimensions{
    width: 50%;
    display: block;
}