<div class="contenedor">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 px-2 py-2" *ngFor="let card of cards">
            <mat-card class="card-width">
                <img mat-card-image src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Shen_0.jpg"
                    alt="Perfil Image" />
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="mb-0">{{ card.title }}</mat-card-title>
                    <mat-card-subtitle class="mb-0 text-white">{{ card.subtitle }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="mb-0">92 K Vistas | hace 2 horas</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>